* {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: azure;
  height: 100vh;
}
.box {
  margin: 80px !important;
}
.conta {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.cards {
  position: relative;
  width: 300px;
  height: 190px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}
.cards:hover {
  height: 350px;
  transition: 0.5s;
}
.imgBx {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background-color: black;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: 0.5s;
  z-index: 100;
}
.cards:hover .imgBx {
  width: 220px;
  height: 200px;
}
.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.details {
  padding: 10px;
  text-align: center;
  width: 100%;
  transition: 0.9s;
  transform: translateY(120px);
}
.cards:hover .details {
  transform: translateY(0);
}
.buttons {
  font-size: 20px;
  color: rgb(46, 46, 46);
  cursor: pointer;
}
.btn-edit:hover {
  color: blue;
  font-size: 25px;
  transition: 0.2s;
}
.btn-delete:hover {
  color: red;
  font-size: 25px;
  transition: 0.2s;
}
.btn-whatsapp:hover {
  color: green;
  font-size: 25px;
  transition: 0.2s;
}
